.btn-primary {
    background-color: #0D6EFD;
    border: none;
    border-radius: 5px;
    padding: 6px 10px;
}

.btn-danger {
    background-color: #d80000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 10px;
}

.btn-primary:hover {
background-color: #2f70d1;
}